@font-face {
	font-family: "Roboto Medium";
	src: url("fonts/Roboto-Medium.ttf");
}


body
{
	display: flex;
	background: #000;
	height: 100%;
	font-family: "Roboto Medium", Arial;
}
main
{
	
	background: white;
	width: 850px;
	margin-right: auto;
	padding-top: 60px;

}
#bande
{
	background: #feca07;
	width: 300px;
	margin-left: auto;
}
img
{
	border-radius: 50%;
	/*padding-left: 1px;
	padding-right: 1px;*/
	margin-left: 21px;
	margin-top: 	20px;
	box-shadow: 1px 1px 12px #555;
}
#titre_contact
{
	background-color: #404040;
	color: #feca07;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
}
#contenu_contact
{
	list-style-type: none;
	color: #4f4e48;
}
#contenu_contact > li
{
	margin-bottom:15px;
}
#titre_à_propos
{
	background-color: #404040;
	color: #feca07;
	text-align: center;	
	padding-top: 7px;
	padding-bottom: 7px;	
}
#titre_loisirs
{
	background-color: #404040;
	color: #feca07;
	text-align: center;	
	padding-top: 7px;
	padding-bottom: 7px;	
}
#contenu_à_propos
{
	margin-left: 30px;
	margin-right: 30px;
	text-align: justify;
	color: #4f4e48;
}
h1, h3
{
	margin-left: 30px;
	font-family: , Impact;
	font-weight: 400;
}
h1
{
		font-size: 250%;
		margin-bottom: -10px;
}
h2
{
	border-bottom: solid;
	border-color: #feca07;
}
ul
{
	list-style: none;
}
#Formation, #Experience, #Competences
{
	margin-left: 30px;
	margin-right: 30px;
}
span
{
	color: #feca07;
}
#Formation
{
	margin-top: 80px;
	/*background-color: grey;*/
}
#date_bac
{
/*background-color: red;*/
width: 200px;
float: left;
}
#bac
{
/*background-color: pink;*/
width: 400px;
float:right;
margin-right: 15%;
}
#date_formation_ocr
{
/*background-color: red;*/
width: 100px;
float: left;
}
#formation_ocr
{
/*background-color: pink;*/
width: 500px;
float: right;
margin-right: 10px;
}

#Experience
{
	margin-top: 60px;
	/*background-color: grey;*/
}
#date_stage_gsipme
{
	/*background-color: red;*/
	width: 150px;
	float: left;
}
#stage_gsipme
{
/*background-color: pink;*/
	width: 500px;
	float: right;
	margin-right: 5px;
}
#liste_stage_gsipme
{

}
#date_JapanExpo
{
	float: left;
	/*background-color: red;*/
	margin-top: 180px;
}
#JapanExpo
{
	float: right;
	/*background-color: pink;*/
	margin-right: 273px;
}
#date_vendeur
{
	float: left;
	/*background-color: red;*/
	margin-top: 80px;
}
#vendeur
{
float: right;
margin-right: 176px;
}
#Competences
{
	margin-top: 60px;
	margin-bottom: 60px;
}
#languages_prog
{
	float: left;
	margin-left: 41px;
}
#languages_liste
{
	margin-left: 250px;
}
.text_color
{
	color: #545454;
}

.clear
{
	clear: left;
}